<section class="row">
  <article class="column">
    <span><%= link "Expenses", to: Routes.expense_path(@conn, :index) %></span>
  </article>
  <article class="column">
    <span><%= link "Revenues", to: Routes.revenue_path(@conn, :index) %></span>
  </article>
</section>
